<body class="bg-image" style="background-image: url('https://images.megapixl.com/5057/50570988.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; height: 100%; weight:100%; margin: 0;">

  <div class="d-flex justify-content-end">
      <app-button type="button" label="View Table" buttonClass="btn btn-primary" routerLink="table"></app-button>
    </div>
  <h1 class="text-center">User Information</h1>
  
  <br>
  <form [formGroup]="formGroup" #myForm="ngForm">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-4">
                  <div class="mb-3">
                      <label for="username" >Name<span style="color: red;">*</span>:</label>
                      <p *ngIf="formGroup.get('name')?.invalid && (formGroup.get('name')?.dirty || formGroup.get('name')?.touched)" style="color: red;">
                          Name is required.
                        </p>
                      <input type="text" id="username" formControlName="name" class="form-control border-dark" required>
                      
                         </div>
  
                  <div class="mb-3">
                      <label for="age" >Age <span style="color: red;">*</span>:</label>
                      <p *ngIf="formGroup.get('age')?.invalid && (formGroup.get('age')?.dirty || formGroup.get('age')?.touched)" style="color: red;">
                        Age must be less than or equal to 100.
                        </p> 
                      <input type="number" id="age" formControlName="age" class="form-control border-dark" required>
                      
                  </div>
  
                  <div class="mb-3">
                      <label for="gender">Gender <span style="color: red;">*</span>:</label>
                      <p *ngIf="formGroup.get('gender')?.invalid && (formGroup.get('gender')?.dirty || formGroup.get('gender')?.touched)" style="color: red;">
                          Gender is required.
                        </p>
                      <select id="gender" formControlName="gender" class="form-select border-dark">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                      </select>
                  </div>
  
                  <div class="mb-3">
                      <label for="phone_number">Phone Number <span style="color: red;">*</span>:</label>
                      <p *ngIf="formGroup.get('phone_number')?.invalid && (formGroup.get('phone_number')?.dirty || formGroup.get('phone_number')?.touched)" style="color: red;">
                          Please enter a valid phone number.
                        </p>
                        
                      <input type="tel" id="phone_number" formControlName="phone_number" class="form-control border-dark" required>
                      
                     
                  </div>
  
                  <div class="mb-3">
                      <label for="email">Email <span style="color: red;">*</span>:</label>
                      <p *ngIf="formGroup.get('email')?.invalid && (formGroup.get('email')?.dirty || formGroup.get('email')?.touched)" style="color: red;">
                          Please enter a valid email address.
                        </p>
                        
                      <input type="email" id="email" formControlName="email" class="form-control border-dark" required>
                     
                  </div>
                  <div class="mb-3">
                    <p *ngIf="myForm.submitted && formGroup.invalid" style="color: red;">
                      Please fill in all the mandatory fields.
                    </p>
                  </div>
  
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                      <div *ngIf="loading" id="loader" class="loader-overlay">
                          <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
     
        
        <!-- Success Toast -->
        <div id="successToast" class="toast align-items-center text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" style="position: fixed; bottom: 20px; right: 20px;">
          <div class="d-flex">
            <div class="toast-body">
              Data saved successfully!
            </div>
          </div>
        </div>
  </form>
  </body>

